body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	
	margin: 0;
	padding: 0;
	text-align: center;
	
	background: #00487D;
	color: #EEE;
}


.edit a {
    text-decoration: none;
    margin: 2px;
    float: right;
    font-weight: bold;
    font-size: 12px;
}

a, a:link, a:visited {
	color: #80C9FF;
}

div#content  {
	background: #ffffff;
	color: #000000;
	
	clear: both;
	
	border: 2px solid black;
	
}

div#content a, div#content a:link, div#content a:visited {
	color: #004980;
}



div#menu {
	font-size: 12px;
	font-weight: bold;
	width: 700px;
	padding: 0;
	margin: 0;
}

#menu li {
	display: inline;
	
	background: url(../img/buttonbg.gif) top left no-repeat;
	
	padding: 6px 6px 4px 12px;
	margin: 4px;
}

#menu li a, #menu li a:link, #menu li a:visited {
	height: 12px;
	line-height: 12px;
	color: #000000;
	text-decoration: none;
}

#menu li a:hover {
	text-decoration: underline;
}

	


div#nav {
	float: left;
}

div#login {
	float: right;
}

div#wrapper {
	width: 780px;
	margin: 0 auto auto auto;
	padding: 0;
	text-align: left;
}

div#game {
	float: left;
	width: 550px;
}

div#gameinfo {
	float: right;
	width: 200px;
	margin: 10px 0;
}

div#gameinfo h3 {
	text-decoration: underline;
	padding: 0 0 6px;
}

div#gamedesc {
	font-style: italic;
	margin: 2px;
	font-size: 12px;
}

div.tablesection div.tableblock {
	display: block;

	margin: 0;
	padding: 0;

	float: left;
}

div.block {
	display: block;
	float: left;
	
	margin: 10px;
	padding: 6px;
	
	border: 1px solid #000000;
	background: #CFDCE6;
	height: 70px;
}

div.wrapblock {
	margin: 10px;
}

h1 {
	padding: 12px 0;
}

h2 {
	padding: 8px 12px;
}

h1, h2{
	margin: 0;
}

h3 {
	margin: 0 0 0 25px;
	text-decoration: underline;
}

ul {
	margin: 12px;
	padding: 0;
}

p {
	margin: 12px;
	padding: 0;
	line-height: 20px;
}

div.clear {
	clear: both;
}

.supertext {
	font-size: 9px;
	float: right;
	vertical-align: middle;
}

td {
  padding: 4px;
}

tr.odd {
	background: #99CCFF;
}

table {
	margin: 15px;
	border-collapse: collapse;
	border: solid #003366;
	border-width: 0 1px 1px 1px;
}	

table.layout {
	border: none;
}

th {
	background: #003366;
	color: #FFFFFF;
	text-align: center;
}

div#content th a, div#content th a:link, div#content th a:visited {
	color: #FFFFFF;
	
}

div#game {
	border: 1px solid;
	margin: 10px;
	border-color: #CCCCFF #000000 #000000 #CCCCFF;
	background: #000000;
	color: #FFFFFF;
}

div#game a,div#game a:link, div#game a:visited {
	color: #FFFFFF;
}

div#rate {
	text-align: right;
	font-weight: bold;
}

div#comments {
	margin: 20px;
	clear: both;
}

div#reviews {
	padding: 0 0 20px;
}

div#reviews div {
	border-style: solid;
	border-color: #6096BF;
	border-width: 0 1px 1px 0;
}

div#reviews div.odd {
	background: #BFE4FF;
}

div#copy {
	clear: both;
	
	margin: 20px;
	font-size: 10px;
}

