{% extends "base.html" %}

{% block content %}
<h2>Download the Stinkoman Level Editor</h2>
<div class="wrapblock">
	<div class="block">
		<h3>Windows</h3>
		<br />
		<a href="/StinkomanLE-9.4.1.exe">Setup 9.4.1</a> - 7 MB
	</div>
	<div class="block">
		<h3>Mac</h3>
		<p>Not supported</p>
	</div>
	<div class="block">
		<h3>Linux</h3>
		<p>Not supported</p>
	</div>
</div>
<div class="clear">&nbsp;</div>
<p>This is the Stinkoman Level Editor. Use it to create levels and upload them here. Hopefully, The Brothers Chaps release level 10 sometime soon!</p>

<h2>Download a custom made level</h2>
<p>To download a level, <a href="/browse/">browse</a> through the levels to find one and then click on its name to play it. There is a download link on this page just for you.</p>

{% endblock %}
