{% extends 'base.html' %}

{% block content %}
    <h2>Welcome!</h2>
    <p>
    Welcome to the Custom Stinkoman Levels site, where you can upload your own
    alterations of Stinkoman levels for all to see. If you don't have it yet,
    grab the <a href="/download/">level editor</a> and get to work.
    </p>
    <h2>Your old stuff</h2>
    <p>
    If you were a part of this way back when, I still have your levels. <a href="/leg">Find your stuff</a> and upload it again please.
    </p>
    
    <div class="tablesection">
        <div class="tableblock">
            <h3>New Levels</h3>
            <table>
                <tr> <th></th> </tr>
                
        </div>
    </div>

    <div class="tablesection">
        <div class="tableblock">
            <h3>Top Levels</h3>
            <table>
                <tr> <th></th> </tr>
                
        </div>
    </div>

{% endblock %}
