{% extends 'base.html' %}

{% block content %}
    <h2>Welcome!</h2>
    <p>
    Welcome to the Custom Stinkoman Levels site, where you can upload your own
    alterations of Stinkoman levels for all to see. If you don't have it yet,
    grab the <a href="/download/">level editor</a> and get to work.
    </p>
    <h2>Your old stuff</h2>
    <p>
    If you were a part of this way back when, I still have your levels. <a href="{{ MEDIA_URL }}legacy-levels">Find your stuff</a> and upload it again please.
    </p>
    
    {% with new_levels as levels %}
    {% with "New Levels" as heading %}
        {% include 'level_table.html' %}
    {% endwith %}
    {% endwith %}

    {% with top_levels as levels %}
    {% with "Top Levels" as heading %}
        {% include 'level_table.html' %}
    {% endwith %}
    {% endwith %}

{% endblock %}
