<div class="tablesection">
    <div class="tableblock">
        <h3>{{ heading }}</h3>
        <table>
            <tr>
                <th>Level</th>
                <th>Creator</th>
                <th>Rating</th>
            </tr>
            {% for level in levels %}
                <tr class="{% cycle 'even' 'odd' %}">
                    <td><a href="/play/{{ level.title }}/">{{ level.title }}</a></td>
                    <td>
                        {% with level.author as profile %}
                        {% include 'username.html' %}
                        {% endwith %}
                    </td>
                    <td>{{ level.rating }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
