{% extends 'base.html' %}

{% block title %}Submission Form - {{ block.super }}{% endblock %}

{% block content %}
    <h2>Submit a new Stinkoman Level</h2>
    {% if user.is_authenticated %}
        {% with 0 as editing %}
            {% include 'level_form.html' %}
        {% endwith %}
    {% else %}
        <p>You must <a href="/register/">register an account</a> to upload a new level. It's free and doesn't require much information.</p>
        <p>If you already have an account, <a href="/login/?next=/submit/">log in</a>.</p>
    {% endif %}
{% endblock %}
