Options +MultiViews +ExecCGI


<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 74.220.215.210

RewriteEngine on
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteRule     ^play/(.*)$  play.cgi?level=$1
RewriteRule	^edit/(.*)$	edit.cgi?level=$1

