==========Custom Stinkoman Levels Account Confirmation==========

Please enter this link into your browser to confirm your account:
http://stinkoman.superjoesoftware.com/confirm.cgi?name=[% screen_name %]&code=[% confirm_code %]

Thank you!

-Superjoe Software Admin
http://www.superjoesoftware.com


